---
layout: default
title: grungerabbit - Cheryl Wu
splash: false
permalink: /chronology/
---

<section class="chronology">
	<div class="site">
		<div class="chronology__column monthly">
			{% capture month %}
		  	{% include month.markdown %}
			{% endcapture %}
			{{ month | unindent | markdownify }}
		</div>
		<div class="chronology__column range">
			{% capture range %}
		  	{% include range.markdown %}
			{% endcapture %}
			{{ range | unindent | markdownify }}
		</div>

	<p style="clear: both">Inspired by <a href="http://abhiagarwal.com/chronology">Abhi</a> and <a href="http://dariajung.com/chronology.html">Daria</a>
	</div>
</section>