<footer class="footer">
  <div class="site">
    <ul class="grid">
      <li>
        <span class="icon-grlogo"></span>
        <p>
          Cheryl Wu
        </p>
      </li>
      <li>
        <a href="http://github.com/grungerabbit/">github</a><br>
        <a href="http://twitter.com/grungerabbit">twitter</a>
      </li>
      <li>
        <a href="http://uiuiu.me">experimental portfolio</a><br/>
        <a href="http://grungerabbit.com/index-old.php">old site</a>
      </li>
    </ul>
    <div class="colophon">
      <p>
        made with love in NYC
      </p>
    </div>
  </div>
</footer>