  <div class="footer site">
	  {% include quote.html %}
	  
	  
    <div class="contact">
      <p>
		<span class="icon-grlogo"></span><br />
        Cheryl Wu
      </p>
    </div>
    <div class="contact">
      <p>
		<a href="http://github.com/grungerabbit/">github</a><br />
		<a href="http://twitter.com/grungerabbit">twitter</a>
      </p>
    </div>
	
	<div class="contact">
		<a href="http://uiuiu.me">experimental portfolio</a><br />
		<a href="http://grungerabbit.com/index-old.php">old site</a>
  </div>
  
	<div class="colophon">
		<p>made with love in NYC</p>
	</div>
</div>