<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/lib/css/styles.css">
		<meta name="description" content="definitely not just ink on a milk cart." />
		<meta name="keywords" content="grungerabbit grunge rabbit cheryl wu cheryl jane wu westfield nj nyc ny nyu new york university gallatin manhattan upper east side greedytrees art visual graphic design illustration gallery portfolio commissions user experience interface design reserach sparkle fairy princess hackNY tech@NYU" />
		
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:type" content="post" />
		<meta property="og:url" content="http://grungerabbit.com{{page.url}}" />
		<meta property="og:image" content="http://grungerabbit.com/lib/img/{{page.image}}" />
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-12519345-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		
		{% if page.css %}
			<link rel="stylesheet" href="/lib/css/custom/{{page.css}}">
		{% endif %}
    </head>
    <body>

        
			{% unless page.splash %}
				{% include header.html %}
			{% endunless %}
			{% if page.splash %}
				{% include splash.html %}
			{% endif %}
			
			
			   {{ content }}
			
			{% include footer.html %}
        

		<script src="/lib/js/jquery.js"></script>
		<script src="/lib/js/jquery.lettering.js"></script>
		<script src="/lib/js/app.js"></script>
    </body>
</html>
