<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

		{% if page.maincss == true %}
		    <link rel="stylesheet" href="/lib/css/styles.css">
		{% endif %}

		<meta name="description" content="perhaps a silly girl, but definitely not just ink on a milk cart." />
		<meta name="keywords" content="grungerabbit grunge rabbit cheryl wu cheryl jane wu westfield nj nyc ny nyu new york university gallatin kurdt koebane greedytrees art graphic design illustration gallery portfolio commissions awesome sparkle fairy princess" />
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-12519345-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	
	
		{% if page.extracss %}
			{{ page.extracss }}
		{% endif %}
    </head>
    <body>

		{% if page.maincss == true %}
		    <div class="site content">
		{% endif %}
			
			   {{ content }}
			
	   	{% if page.maincss == true %}
	   	   	</div>
	   	{% endif %}	

		<script src="/lib/js/jquery.js"></script>
		<script src="/lib/js/jquery.lettering.js"></script>
		
		{% if page.extrajs %}
			{{ page.extrajs }}
		{% endif %}
    </body>
</html>
